<!DOCTYPE html>
<html>
<head>
    <!--<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/style/style.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery.ui.mouse.min.js"></script>
    <script src="/scripts/touch-punch.min.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script src="/scripts/sender.js"></script>
    <script src="/scripts/dashboard.js"></script>

    <title>Dashboard</title>
</head>
<body>

<div class="testclass">
    <div class="dashboard droppable">
        <div class="add">
            <div class="outter"><a class="plus">+</a></div>
            <ul class="widgetList">
                <li><a class="clock_button">clock</a></li>
                <li><a class="weather_button" >weather</a></li>
                <!--<li><a class="text_button" >text</a></li>-->
                <!--<li><a class="calendar" >calendar</a></li>-->
                <li><a class="news" >news</a></li>
                <li><a class="video_button">youtube</a></li>
                <li><a class="twitter_button" >twitter</a></li>
            </ul>
        </div>
        <div class="test"></div>

    </div>
</div>

<img src="http://i.imgur.com/vKWGmd8.png" class="trashcan">



</body>
</html>